/* You can add global styles to this file, and also import other style files */
.strikethrough:checked + .strikeThis {
  text-decoration: line-through
}
body{
    background-image: url("./background-image/image5.jpg");
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    
}
.floatright{
float: right;
}
.paddingLeft{
padding-left:10px;
}